*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  color-scheme: dark;
  --fs-sm: clamp(0.8rem, -0.09vi + 0.82rem, 0.75rem);
  --fs-base: clamp(1rem, 0vi + 1rem, 1rem);
  --fs-md: clamp(1.2rem, 0.15vi + 1.21rem, 1.33rem);
  --fs-lg: clamp(1.56rem, 0.39vi + 1.47rem, 1.78rem);
  --fs-xl: clamp(1.95rem, 0.76vi + 1.76rem, 2.37rem);
  --fs-xxl: clamp(2.44rem, 1.3vi + 2.12rem, 3.16rem);
  --fs-xxxl: clamp(3.05rem, 2.1vi + 2.53rem, 6.21rem);

  --font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary: "Clash", var(--font-system);
  --font-secondary: "Inter", var(--font-system);

  /* === NUEVA PALETA CORPORATIVA === */

  --color-primary: #08a8ff;
  /* cyan suave */
  --color-primary-dark: #006cb4;
  --color-primary-light: #37cbff;

  --color-secondary: #00345d;
  /* azul profundo */
  --color-secondary-light: #002238;

  --color-text: #e3edf7;
  --color-text-light: #a5b4c7;

  --color-border: #1e354c;

  --color-bg: #011322;
  /* fondo general oscuro */
  --color-bg-muted: #021b2f;

  --success: #3ddc97;
  --danger: #ff4d5d;
  --warning: #ffc857;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Inter.woff2") format("woff2");
}

@font-face {
  font-family: "Clash";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Clash.woff2") format("woff2");
}

html,
body {
  background: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-primary-light);
}

@media (prefers-reduced-motion) {

  html,
  body {
    scroll-behavior: auto;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  padding: 0;
}

ul {
  padding-inline-start: 0;
}

a {
  color: white;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}